.center {
    text-align: center;
    color:#184A45FF;
}

.student-list {
    margin: 20px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #184A45FF;
}
.pagination button:hover {
    background-color: #314745FF; /* Darken the background on hover */
}

.dashboard-button,
.add-student-button {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #435E55FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.student-table {
    margin-top: 20px;
}

table {
    margin-top:35px;
    width: 100%;
    border-collapse: collapse;
    font-family: "Arial Rounded MT Bold", sans-serif; /* Use Arial Rounded MT Bold or another rounded font */
}

th, td {
    border: 1px solid #ddd;
    padding: 11px; /* Increase padding for better spacing */
    text-align: left;
    color: #184A45FF;
}

td:hover {
    background-color: #d3edea; /* Lighter background color on hover */
}

table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    border-radius: 8px;
    overflow: hidden;
}

td {
    transition: background-color 0.3s ease;
}

th {
    background-color: #184A45FF;
    color: #fff;
}

.view-button,
.edit-button,
.delete-button {
<<<<<<< HEAD
    margin: 3px;
=======
    margin: 5px;
>>>>>>> 0f7aab7dc7ee46e859dd06eddb41ca9e575c5d22
    padding: 8px;
    color: white;
    background-color: #435E55FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

td:hover {
    background-color: #f0f8ff;
}

.page-info {
    border-radius: 3px;
    overflow: hidden;
    color: #gray;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination button {
    background-color: #184A45FF;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin: 4px;
    margin-top:50px;
    border-radius: 5px;
}

.pagination button.active {
    background-color:  #184A45FF;
}

.pagination button:disabled {
    background-color:  gray;
    color: gray;
    cursor: not-allowed;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.top-right label {
    margin-right: 5px;
}
body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
